*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .grid {
    display: flex;
    flex-flow: row wrap;
  }

  .grid-col-1of2 {
    flex: 1 1 auto;
    width: 50%;
  }

  .grid-col-1of3 {
    flex: 1 1 auto;
    width: 33.33%;
  }

  .grid-col-2of3 {
    flex: 1 1 auto;
    width: 66.66%;
  }