/* Pop-up tutorial learned from 
https://www.youtube.com/watch?v=B0_M1y4aFAQ&list=PL4cUxeGkcC9iGYgmEd2dm3zAKzyCGDtM5&index=11
*/

body {
    margin: 0; 
    position: relative;
    background: #fff;
}

* {
  font-family: Calibri, sans-serif; 
  font-weight: normal;
  color: #333;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    margin-bottom: 1.5rem;
}

#pop-up {
    position: relative; 
    top: 10rem; 
    width: 35rem; 
    margin: 0 auto; 
    text-align: center;
}

#pop-up .container{
    background: #f0e4d4; 
    padding: 2rem;
    padding-bottom: 3rem;
    position: absolute; 
    top: 15rem; 
    width: 100%; 
    box-sizing: border-box;
}

/* #pop-up input{
    padding: 1.5rem;
    border: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #333;
    font-size: 1.2rem;
} */

#pop-up img {
    width: 20rem;
    height: auto;
}

button{
    padding: 1.2rem;
    border: 0;
    color: #fff;
    background: #333;
    margin-left: -5px;
    margin-left: -5px;
    /* border-radius: 0 0.5rem 0.5rem 0; */
    border-radius: 0.5rem;
    border: 1px solid #333;
    font-size: 1.2rem;
}


/*// POP-UP ANIMATION STYLES //*/
#pop-up {
    top: -400px;
    transform-origin: 10px 10px;
    animation: drop 0.5s ease forwards,
    swing 1s 2s ease forwards;
  }
  
  @keyframes drop {
    0%{opacity: 0;}
    70%{ transform: translateY(50rem);}
    100%{transform: translateY(40rem); opacity: 1;}
  }
  
  @keyframes swing{
    0%{transform: translateY(40rem) rotateZ(0deg)}
    40%{transform: translateY(40rem) rotateZ(90deg)}
    70%{transform: translateY(40rem) rotateZ(70deg)}
    100%{transform: translateY(40rem) rotateZ(720deg)}
  }