body {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    width: 100%;
    height: 100%;
}


/* Styling for the phone layout */
.phone-layout {
    border: 2rem solid #050505;
    border-radius: 5rem;
    position: relative;
}

.camera-part {
    width: 30rem;
    height: 5rem;
    background-color: #050505;
    /* margin: 0 auto; */
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.time{
    text-align: center;
}

.time p {
    font-size: 2rem;
    margin-top: 1rem;
}

.signal img, .wifi img , .battery img {
    width: 4rem;
    padding: 1rem;
}

.decoration {
    position: absolute;
    background-color: #5a5a5a;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    z-index: 1;
    top: 0;
    left: 37%;
}

.dot {
    position: absolute;
    background-color: #5a5a5a;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    top: 0;
    left: 60%;
}

/* End of the styling for the phone layout */


/* Start of the styling for notice section */
.notice-section {
    background-color: #e5e5ea;
    opacity: 0.8;
    border-radius: 1rem;
    padding: 2rem;
}

.notice-up {
    font-size: 2.5rem;
}

.logo {
    width: 3rem;
    vertical-align: text-bottom;
}

/* .message { */
    /* font-weight: lighter; */
/* } */

.now {
    position: absolute;
    right: 2rem;
}

.notice-bottom {
    font-size: 3rem;
    margin: 1rem 1rem 0 1rem;
}

.notice-bottom span {
    font-weight: 500;
}

.notice-bottom p {
    font-size: 2.5rem;
    font-weight: 100;
}

/* youtube.com/watch?v=B0_M1y4aFAQ */
#notice-section {
    top: -700px;
    animation: drop 0.75s ease forwards;
}
/* End of the styling for notice section */



/* Start of the styling for three main navigation */
.main-nav {
    width: 100%;
    height: 70vh;
    /* border: thin solid blue; */
}

.project-nav, .bio-nav, .contact-nav {
    height: 10rem;
    margin: auto 0;
    /* border: thin solid black; */
    text-align: center;
}

.project-nav span {
    display: block;
    font-size: 2rem;
}

.bio-nav span {
    display: block;
    font-size: 2rem;
}

.contact-nav span {
    display: block;
    font-size: 2rem;
}

.project-nav img, .bio-nav img, .contact-nav img {
    width: 10rem;
    height: 10rem;
    /* background-color: #a8d0e6; */
    padding: 1rem;
    border-radius: 2rem;
}

.myBlue {
    background-color: #a8d0e6;
}

.myRed {
    background-color: #f76c6c;
}

.myYellow {
    background-color: #f8e9a1;
}

.myGrey {
    background-color: #e5e5ea;
}
/* End of the styling for three main navigation */


/* Start of the styling for About Me section */
.about-me-section {
    width: 100%;
    height: 100vh;
    /* border: thin solid blue; */
}

.about-me-content {
    width: 100%;
    height: 100%;
}

.img-side {
    /* border: thin solid rebeccapurple; */
    text-align: center;
    margin: auto 0;
}

.mark-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

th, td {
    padding: 0.5rem;
}

.img-side span {
    display: inline-block;
}

.me {
    width: 20rem;
    height: 20rem;
}

.star {
    width: 3rem;
    height: 3rem;
}

.paragraph-side {
    margin: auto 0;
}

.paragraph-side h2 {
    font-size: 2.5rem;
    margin: 3rem;
}

.paragraph-side p {
    font-size: 1.5rem;
    margin: 3rem;
}

.back-area {
    width: 100%;
    height: 5rem;
    text-align: center;
    /* border: thin solid green; */
    /* margin-top: 10rem; */
    position: absolute;
    bottom: 0;
}

.back-bar {
    width: 15rem;
    height: 1rem;
    background-color: grey;
    border-radius: 2rem;
    margin: 1rem auto;
}
/* End of the styling for About Me section */



/* Start of the styling for Project section */
.project-section {
    width: 100%;
    height: 100vh;
    /* border: thin solid blue; */
    text-align: center;
}

.project-section h2 {
    font-size: 3rem;
    margin-top: 5rem;
}

.icon-area {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 25%;
    left: 25%;
    background: rgba(229, 229, 234, 0.3); /* #f2f2fa*/
    border-radius: 3rem;
}

.project-section-left, .project-section-right {
    height: 10rem;
    margin: auto 0;
    /* border: thin solid black; */
    text-align: center;
}

.project-section-left img, .project-section-right img {
    width: 10rem;
    height: 10rem;
    background-color: #a8d0e6;
    padding: 1rem;
    border-radius: 2rem;
}

.project-section-left span {
    display: block;
    font-size: 2rem;
}

.project-section-right span {
    display: block;
    font-size: 2rem;
}

/* End of the styling for Project section */



/* Start of the styling for contact section */
.contact-section {
    width: 90%;
    height: 20vh;
    border-radius: 2rem;
    margin-bottom: 6rem;
    background-color: #e5e5ea;   
    position: relative;
    left: 5%;
}

.style-guide, .citation, .github {
    height: 10rem;
    margin: auto 0;
    /* border: thin solid black; */
    text-align: center;
}

.style-guide img, .citation img, .github img {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

.style-guide span {
    display: block;
    font-size: 1.5rem;
}

.citation span {
    display: block;
    font-size: 1.5rem;
}

.github span {
    display: block;
    font-size: 1.5rem;
}
/* End of the styling for contact section */


/* Styling for responsive */
@media (max-width: 70em) {
    .signal img, .wifi img, .battery img {
        width: 2rem;
        height: auto;
        padding: 0;
        padding-top: 1rem;
    }

    .decoration {
        /* width: 10rem; */
        width: 20%;
        height: 2rem;
        top: 1rem;
        left: 37%;
    }

    .dot {
        width: 4.5%;
        height: 2rem;
        top: 1rem;
        left: 60%;
    }
}

@media (max-width: 60em) {
    .paragraph-side p {
        font-size: 1.2rem;
        margin: 3rem;
    }
}

@media (max-width: 45em) {
    .phone-layout {
        border: none;
    }

    .layout-items, .decoration, .dot {
        display: none;
    }

    .notice-up {
        font-size: 1.5rem;
    }
    
    .logo {
        width: 2rem;
        vertical-align: text-bottom;
    }

    .notice-bottom {
        font-size: 2rem;
        margin: 1rem 1rem 0 1rem;
    }
    
    .notice-bottom p {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .style-guide img, .citation img, .github img {
        width: 8rem;
        height: 8rem;
    }
    
    .style-guide span {
        font-size: 1rem;
    }
    
    .citation span {
        font-size: 1rem;
    }
    
    .github span {
        font-size: 1rem;
    }

    .project-nav img, .bio-nav img, .contact-nav img {
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
    }

    .project-nav span {
        font-size: 1rem;
    }
    
    .bio-nav span {
        font-size: 1rem;
    }
    
    .contact-nav span {
        font-size: 1rem;
    }

    .icon-area {
        position: absolute;
        width: 80%;
        height: 30%;
        top: 20%;
        left: 10%;
        background: rgba(229, 229, 234, 0.3); /* #f2f2fa*/
        border-radius: 3rem;
    }

    .back-area {
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    /* .back-area span {
        display: none;
    } */
    
    .back-bar {
        width: 15rem;
        height: 0.75rem;
    }
}


@media (max-width: 31em) {
    /* notice */
    .notice-up {
        font-size: 1rem;
    }
    
    .logo {
        width: 1.5rem;
        vertical-align: text-bottom;
    }

    .notice-bottom {
        font-size: 1rem;
        margin: 1rem 0.5rem 0 0.5rem;
    }
    
    .notice-bottom p {
        font-size: 1rem;
        font-weight: 100;
    }

    /* main nav */
    .style-guide img, .citation img, .github img {
        width: 5rem;
        height: 5rem;
    }
    
    .style-guide span {
        font-size: 0.8rem;
    }
    
    .citation span {
        font-size: 0.8rem;
    }
    
    .github span {
        font-size: 0.8rem;
    }

    /* Project part */
    .project-nav img, .bio-nav img, .contact-nav img {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }

    .project-nav span {
        font-size: 0.8rem;
    }
    
    .bio-nav span {
        font-size: 0.8rem;
    }
    
    .contact-nav span {
        font-size: 0.8rem;
    }

    .contact-section {
        height: 20vh;
        margin-bottom: 3rem;
    }

    /* Bio Part */

    .about-me-section {
        width: 100%;
        height: 140vh;
    }

    .img-side {
        /* border: thin solid rebeccapurple; */
        text-align: left;
        margin: auto 0;
    }
    .me {
        width: 10rem;
        height: 10rem;
    }

    .mark-table {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2rem;
    }

    th, td {
        padding: 0;
    }
    
    .star {
        width: 1rem;
        height: 1rem;
    }

    /* .paragraph-side {
        margin: auto 0;
    } */
    
    .paragraph-side h2 {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    
    .paragraph-side p {
        font-size: 1rem;
        margin: 1.5rem 0;
    }

    .back-area {
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .back-area span {
        display: none;
    }
    
    .back-bar {
        width: 10rem;
        height: 0.5rem;
    }

    .icon-area {
        position: absolute;
        width: 80%;
        height: 40%;
        top: 20%;
        left: 10%;
        background: rgba(229, 229, 234, 0.3); /* #f2f2fa*/
        border-radius: 3rem;
    }

    .project-section-left img, .project-section-right img {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }
    
    .project-section-left span {
        font-size: 1rem;
    }
    
    .project-section-right span {
        font-size: 1rem;
    }
}

/* For animation */
@keyframes drop {
    0%{transform: translateY(-800px);opacity: 0;}
    50%{transform: translateY(-400px);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}