body {
    background-color: rgb(245, 245, 245);
    font-weight: lighter;
}

h1, h2, p {
    color: #5a5a5a;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}


/* Styling for the project detail section */
.project-detail-section {
    margin: 10rem;
}

.project-intro {
    margin-bottom: 5rem;
}

.project-process {
    width: 100%;
    height: 100%;
}

.project-process div {
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.project-process img {
    width: 100%;
    height: auto;
}

.project-process canvas {
    width: 100%;
    height: auto;
}

ul {
    margin-left: 15rem;
    margin-right: 15rem;
    border: 1rem solid #5a5a5a;
    border-radius: 2rem;
    padding: 2rem;
}

li {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    padding-bottom: 1rem;
}

li.border-bottom-line {
    border-bottom: 0.15rem solid #959DA5;
}

li.list-bold {
    font-weight: 600;
    font-size: 1.2rem;
    color: #5a5a5a;
}
























/* .project1-section {
    margin-left: 10em;
    margin-right: 10em;
}

.project1-title-area {
    background-color: white;
}

.project1-title-area h2 {
    font-size: 2.3rem;
    font-weight: lighter;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.project1-title-area h3 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
}

.detail-content {
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 5rem;
}

.content-up {
    padding-bottom: 1rem;
}


.project1-plan-area {
    background-color: white;
    margin-top: 5rem;
}

.project1-plan-area h3 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
}




.detail-content img {
    width: 100%;
    height: 100%;
} */


/* For footer */
.goToTop, .seeMore {
    margin:5rem 0;
}

.goToTop a, .seeMore a {
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: thin solid #5a5a5a;
    font-size: 1.2rem;
    font-weight: bold;
    color: #5a5a5a;
}